/* =========================================
  1. VARIÁVEIS E RESET
  =========================================
*/
:root {
    /* Paleta de Cores */
    --bg-color: #0f1724;
    --card-bg: #0b1220;
    --text-main: #e6eef6;
    --text-muted: #94a3b8;
    --accent-color: #06b6d4; /* Ciano destaque */
    --glass-effect: rgba(15, 23, 36, 0.95); /* Para o header fixo */

    /* Espaçamentos e Fontes */
    --font-main: 'Inter', system-ui, sans-serif;
    --header-height: 70px; /* Altura reservada para o header fixo */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Lab 3: Box Model */
}

html {
    scroll-behavior: smooth; /* Rolagem suave ao clicar nos links */
}
